@import "tailwindcss";

body {
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
}

.text-balance {
  text-wrap: balance;
}

/* 动画 */
@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
